/* Dashboard stylesheet */

:root {
  --secondary-color: rgb(141, 87, 87);
  --secondary-color-text: rgb(255, 255, 255);
  --ternary-color: rgb(255, 230, 230);
  --accent-color: rgb(255, 166, 0);
}

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto/Roboto-VariableFont_wdth\wght.ttf")
    format("truetype");
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

body {
  background-color: gray;
  font-family: Roboto, Verdana, "Segoe UI", Tahoma, Geneva, sans-serif;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 175px 4fr;
  height: 100vh;
}

aside {
  grid-row: 1/5;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--secondary-color);
  color: var(--secondary-color-text);
  padding: 20px;
}

aside h1 {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
}

ul {
  list-style-type: none;
  font-weight: bold;
  margin: 0 0 25px 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.icon.dashIcon {
  width: 3rem;
  height: 3rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

aside .icon {
  filter: invert(100%) sepia(0%) saturate(7437%) hue-rotate(234deg)
    brightness(110%) contrast(100%);
}

header {
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--ternary-color);
  padding: 30px 50px;
}

.topRow,
.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

search {
  display: flex;
  flex: 1;
  gap: 20px;
  width: 800px;
  min-width: none;
}

search input {
  border: none;
  border-radius: 25px;
  flex: 1;
  max-width: 800px;
  background-color: rgb(220, 220, 220);
  padding: 0 20px;
}

.topRow div {
  display: flex;
  align-items: center;
  gap: 20px;

  a {
    flex-shrink: 0;
  }
}

.greeter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.greeter div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.buttons {
    display: flex;
    gap: 50px;
}

button {
  border: none;
  border-radius: 25px;
  background-color: var(--secondary-color);
  color: var(--secondary-color-text);
  font-size: 1rem;
  width: 125px;
  height: 50px;
}
