/* Dashboard stylesheet */

:root {
  --primary-color: rgb(220, 220, 220);
  --primarty-color-text: rgb(0, 0, 0, 0.8);
  --secondary-color: rgb(141, 87, 87);
  --secondary-color-text: rgb(255, 255, 255);
  --button-hover-dark: rgb(108, 60, 67);
  --ternary-color: rgb(255, 255, 255);
  --accent-color: rgb(255, 166, 0);
  --text-color: rgb(0, 0, 0, 0.6);
  --shadow: rgb(0, 0, 0, 0.4);
  --black: rgb(0, 0, 0);
}

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto/Roboto-VariableFont_wdth\wght.ttf")
    format("truetype");
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h3 {
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 10px;
}

.circleIcon {
  border: 1px var(--shadow) solid;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

hr {
  opacity: 0.5;
}

body {
  background-color: gray;
  font-family: Roboto, Verdana, "Segoe UI", Tahoma, Geneva, sans-serif;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  height: auto;
  min-width: 100vw;
  width: auto;
}

aside {
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--secondary-color);
  color: var(--secondary-color-text);
  padding: 20px;
  z-index: 2;
}

aside h1 {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
}

ul {
  list-style-type: none;
  font-weight: bold;
  margin: 0 0 25px 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.icon.dashIcon {
  width: 3rem;
  height: 3rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

aside .icon {
  filter: invert(100%) sepia(0%) saturate(7437%) hue-rotate(234deg)
    brightness(110%) contrast(100%);
}

header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--ternary-color);
  padding: 20px 40px;
  box-shadow: 0 10px 5px var(--shadow);
  z-index: 1;
}

.topRow,
.bottomRow {
  display: flex;
  justify-content: space-between;
}

search {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px;
  width: auto;
}

search input {
  border: none;
  border-radius: 25px;
  flex: 1;
  font-size: 1rem;
  background-color: var(--primary-color);
  margin-right: 200px;
  padding: 10px 20px;
}

.topRow div {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;

  a {
    flex-shrink: 0;
  }
}

.greeter {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 200px;
}

.circleIcon {
  border-radius: 100%;
}

.topRow > div > .circleIcon,
.greeter > .circleIcon {
  width: 3rem;
  height: 3rem;
}

.greeter div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  gap: 5px;

  h3 {
    margin-bottom: 0;
  }
}

.buttons {
  display: flex;
  gap: 40px;
}

button {
  border: none;
  border-radius: 25px;
  background-color: var(--secondary-color);
  color: var(--secondary-color-text);
  font-size: 1rem;
  width: 125px;
  height: 50px;
}

button:hover {
  background-color: var(--button-hover-dark);
  transition: all ease 200ms;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 2fr) 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 30px;
  color: var(--primarty-color-text);
  background-color: var(--primary-color);
  padding: 25px;

  h3 {
    font-weight: lighter;
  }
}

section {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  gap: 20px;
}

.secArt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-left: 15px var(--accent-color) solid;
  border-radius: 10px;
  background-color: var(--ternary-color);
  padding: 20px;
}

.secArt p {
  font-size: 14px;
  color: var(--text-color);
  overflow: auto;
  margin-bottom: 20px;
}

.artIcons {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.artIcons img {
  width: 1.5rem;
  height: 1.5rem;
}

.mainAside {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  color: inherit;
  background-color: inherit;
  padding: 0;
  width: 100%;
}

.announcements,
.trending {
  box-sizing: border-box;
  background-color: var(--ternary-color);
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 20px;
  width: 100%;
}

.announcements p {
  font-size: 12px;
  color: var(--text-color);
  overflow: hidden;
  margin-bottom: 10px;
  height: 45px;
}

.trending {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.account {
  display: flex;
  justify-content: start;
  gap: 20px;
  margin: 0 20px 0 0;
}

.account > .circleIcon {
  width: 50px;
  height: 50px;
}

.accountHandle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.accountAt,
.accountName {
  font-size: 14px;
  color: var(--text-color);
}

.accountAt {
  color: black;
}
